# Ignorar bases de datos SQLite
db.sqlite3
db.sqlite
*.sqlite
*.sqlite3
views.py

# Archivos comunes de Python/Django
__pycache__/
*.py[cod]
*.log

# Entornos virtuales y editores
venv/
entorno_ministerio_app/
.venv/
.vscode/
.idea/

