# FRAMEWORK PRINCIPAL Y DEPENDENCIAS ESENCIALES
Django>=5.1.1       # El motor de la aplicación web.
asgiref>=3.8.1      # Interfaz de servidor asíncrono (dependencia de Django).
sqlparse==0.4.4     # Analizador SQL (dependencia de Django).
pytz==2024.1        # Manejo de zonas horarias.
tzdata==2024.1      # Base de datos de zonas horarias.

# SERVIDOR DE PRODUCCIÓN Y BASE DE DATOS
gunicorn==21.2.0    # Servidor WSGI para correr la app en PythonAnywhere.
psycopg2-binary==2.9.7 # Adaptador para conectar Django a PostgreSQL.

# UTILIDADES (Recomendado)
python-dotenv==1.0.0 # Para cargar variables de entorno (claves secretas) en desarrollo.
requests==2.31.0     # Librería estándar para hacer peticiones HTTP (si consumes APIs).