<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alumno</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>CARGA DE ALUMNO</h1>
    <form method="POST">
      <div class="row mb-3">{% csrf_token %} {{ alumno_form.as_p }}</div>
      <div class="row mb-3">{{ grado_form.as_p }}</div>
      <div class="row mb-3">{{ seccion_form.as_p }}</div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    {% comment %}
    <a href="{% url 'lista' grado_public_id=public_alumno %}">lista</a>
    {%endcomment %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
