<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secciones</title>
  </head>
  <body>
    <h1>Secciones</h1>
    <form method="POST">
      <div>{% csrf_token %} {{ form.as_p }}</div>
      <button type="submit">Guardar</button>
    </form>
    {% comment %}
    <ul>
      {% for alumno in lista_alumnos %}
      <li>
        {{ alumno.nombre }}
        <a href="{% url 'editar_alumno' alumno_public_id=alumno.public_id %}"
          >Editar</a
        >
      </li>
      {% endfor %}
    </ul>
    <h2>Evaluaciones</h2>
    <table>
      <tbody>
        {% for eval in evaluciones %}
        <tr>
          <td>
            Examen fluidez lectora de {{eval.alumno.nombre}}<a
              href="{% url 'editar_evaluacion' alumno_public_id=eval.alumno.public_id %}"
              >Editar evaluacion</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'carga_alumno'  %}">Añadir un nuevo alumno</a>
    {% endcomment %}
  </body>
</html>
